* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Microsoft Yahei" , helvetica arial;
  text-align: center; }

ul, li {
  list-style: none; }

.html, .body {
  background: #e7e7e7; }

.container {
  margin: 0px auto 0 auto;
  width: 1200px;
  height: 562px; }

.header-wrapper {
  margin: 0 auto;
  position: relative;
  width: 400px;
  height: 100px; }
  .header-wrapper .head {
    border: 1px solid #f5f5f5;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 60px;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px; }

.body-wrapper {
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  margin: 0 auto;
  position: relative;
  width: 400px;
  height: 400px; }
  .body-wrapper .bus-info {
    margin: 0 auto;
    position: relative;
    width: 400px;
    height: 40px; }
  .body-wrapper .station-wrapper {
    margin: 0 auto;
    position: relative;
    width: 400px;
    height: 120px; }
    .body-wrapper .station-wrapper .bus {
      padding: 0 40px;
      margin: 0 auto;
      position: relative;
      width: 400px;
      height: 30px;
      height: 30px;
      line-height: 30px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .body-wrapper .station-wrapper .bus span {
        float: left;
        width: 40px;
        background: #FE0F45;
        font-weight: 700;
        font-size: 14px;
        display: block;
        color: #fff;
        box-shadow: 2px 2px 2px #888;
        height: 25px;
        line-height: 25px; }
      .body-wrapper .station-wrapper .bus .txt {
        color: #FE0F45;
        margin-left: 60px;
        font-size: 14px;
        float: left;
        height: 25px;
        line-height: 25px; }
      .body-wrapper .station-wrapper .bus .time {
        width: 150px;
        height: 25px;
        line-height: 25px;
        float: left; }
        .body-wrapper .station-wrapper .bus .time p {
          text-align: right;
          height: 12px;
          line-height: 12px;
          font-size: 12px; }
    .body-wrapper .station-wrapper .station {
      margin: 0 auto;
      position: relative;
      width: 400px;
      height: 60px; }
      .body-wrapper .station-wrapper .station ul {
        position: relative;
        margin: 0 auto;
        overflow: hidden;
        padding: 0 10px;
        width: 80%;
        height: 60px;
        border-radius: 5px;
        background: #07683F;
        height: 60px;
        line-height: 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        .body-wrapper .station-wrapper .station ul li {
          color: #fff;
          font-size: 12px;
          margin: 0 5px;
          width: 20px;
          height: 100%;
          float: left; }
        .body-wrapper .station-wrapper .station ul .this {
          border: 1px solid #e7e7e7;
          color: #ffef87;
          font-weight: 700; }
          .body-wrapper .station-wrapper .station ul .this:before {
            content: '';
            position: absolute;
            border: 3px solid #f5f5f5;
            width: 0;
            height: 0;
            top: 0px;
            left: 165px;
            border-bottom-color: transparent;
            border-right-color: transparent; }
          .body-wrapper .station-wrapper .station ul .this:after {
            content: '';
            position: absolute;
            border: 3px solid #f5f5f5;
            width: 0;
            height: 0;
            bottom: 0px;
            left: 181px;
            border-top-color: transparent;
            border-left-color: transparent; }
    .body-wrapper .station-wrapper .direction {
      margin: 0 auto;
      position: relative;
      width: 400px;
      height: 10px; }
      .body-wrapper .station-wrapper .direction .direction1, .body-wrapper .station-wrapper .direction .direction3 {
        z-index: 1;
        position: absolute; }
      .body-wrapper .station-wrapper .direction .direction1 {
        width: 0;
        height: 0;
        right: 20px;
        top: 0;
        border: 5px solid #e74c3c;
        border-right-color: transparent;
        border-top-color: transparent; }
      .body-wrapper .station-wrapper .direction .direction3 {
        border-radius: 5px;
        top: 5px;
        right: 25px;
        width: 350px;
        height: 5px;
        background: #e74c3c; }
    .body-wrapper .station-wrapper .text {
      font-weight: 700;
      font-size: 9px;
      z-index: 99;
      width: 60px;
      position: absolute;
      bottom: 17px;
      left: 170px;
      background: #f5f5f5;
      border-radius: 10px;
      height: 12px;
      line-height: 12px; }

.footer-wrapper {
  border: 1px solid #f5f5f5;
  background: #f5f5f5;
  border-bottom-right-radius: 200px;
  border-bottom-left-radius: 200px;
  margin: 0 auto;
  position: relative;
  width: 400px;
  height: 60px; }

.line {
  border: 2px solid #f5f5f5;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: 0 auto;
  position: relative;
  width: 10px;
  height: 350px;
  background: #f5f5f5; }
  .line:before {
    top: -3px;
    content: '';
    position: absolute;
    border: 10px solid #f5f5f5;
    border-left-color: transparent;
    border-bottom-color: transparent;
    left: -22px; }
  .line:after {
    top: -3px;
    content: '';
    position: absolute;
    border: 10px solid #f5f5f5;
    border-right-color: transparent;
    border-bottom-color: transparent;
    left: 12px; }

/*# sourceMappingURL=index.css.map */
